@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Luckiest+Guy&family=Monsieur+La+Doulaise&family=Poppins&family=Style+Script&display=swap');
:root{
    --font1: Poppins;
    --corprimaria: #EF6024;
    --corsecundaria:#363432;
}
*{
    padding: 0;
    margin: 0;
    /*font-family: var(--font1), 'sans-serif';
*/
}
@media (min-width: 300px) and (max-width: 500px){
    body{
        font-weight: bold;
    }
    header {
        width: 100vw;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    strong{
        color: var(--corprimaria)
    }
    #logo{
        padding: 10px;
        font-size: 3rem;
    }
    #complemento{
        font-size: 1rem;
        color: var(--corsecundaria);
    }
    nav{
        width: 100vw;

    }
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
    li{
        position: relative;
    }
    a:hover{
        color: var(--corprimaria);
    }
    nav a::after{
        position: absolute;
        background-color: #EF6024;
        content: " ";
        width: 0%;
        height: 2px;
        bottom: 0;
        left: 0;
    }
    nav a:hover::after{
        width: 87%;
        transition: 0.5s ease-in-out;
    }
    a{
        text-decoration: none;
        color: var(--corsecundaria);
        font-size: 1.1rem;
    }
    main{
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        text-align: center;
    }
    #conteudo{
        order: 2;
    }
    
    #apresentacao{
        text-align: center;
    }
    #descricao{
        font-weight: normal;
        font-size: 1rem;
        margin-top: 5px;
    }
    img{
        width: 100%;
    }
    footer{
        text-align: center;
        background-color: var(--corprimaria);
        color: var(--corsecundaria);
        font-size: 1.1rem;
    }
}
@media (min-width: 900px) {
    
    header{
        display: flex;
        height: 100px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    nav{
        font-family: var(--font1);
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    nav > ul{
        display: flex;
        flex-direction: row;
        padding-right: 15px;
        list-style: none;
        align-items: center;
    }
    a{
        color: var(--corsecundaria);
        text-decoration: none;
        margin-right: 15px;
    }
    #logo{
        color: var(--corsecundaria);
        padding-left: 15px;
        font: normal lighter 2rem Poppins, 'arial';
    }
    #complemento{
        display: none;
    }
    strong{
        color: var(--corprimaria);
    }
    li{
        position: relative;
    }
    nav a::after{
        position: absolute;
        background-color: #EF6024;
        content: " ";
        width: 0%;
        height: 2px;
        bottom: 0;
        left: 0;
    }
    nav a:hover::after{
        width: 87%;
        transition: 0.5s ease-in-out;
    }
    a:hover{
        color: var(--corprimaria);
    }
    main{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    #apresentacao{
        font: normal bold 2rem Poppins,'arial';
        color: var(--corsecundaria);
    }
    #decricao{
        font: normal bold 1rem Poppins, 'arial'; 
    }
    footer{
    text-align: center;
    background-color: var(--corprimaria);
    color: var(--corsecundaria);
    font-size: 1.1rem;
    }
}
